.project-align-right{
    text-align: right;
}

.project-align-left{
    text-align: left;
}

.project{
    /* background-color: white; */
}

.project-alt{

    
    img{
        height: 500px;
        width: 500px;
    }
}



