/* pages */
@import url("css/home.css");
@import url("css/about.css");
@import url("css/projects.css");
@import url("css/contact.css");

/* layout */
@import url("css/layout/navbar.css");
@import url("css/layout/leader.css");

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    height: 100%;
}

.featured-banner{
    background: linear-gradient(90deg, rgba(254, 102, 17, 1) 0%, rgba(243, 51, 189, 1) 100%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 0.5em;
}

