/* pages */
@import url("css/home.css");
@import url("css/about.css");
@import url("css/projects.css");
@import url("css/contact.css");

/* layout */
@import url("css/layout/navbar.css");
@import url("css/layout/leader.css");
@import url("css/layout/footer.css");
@import url("css/layout/mobile-nav.css");

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    height: 100%;
    background: linear-gradient(90deg, rgba(254, 102, 17, 1) 0%, rgba(243, 51, 189, 1) 100%);
}

.page-section{
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

    .page-section-title{
        text-align: center;
    }

}

.section-container{
    background-color: white;
    position: relative;
}

.width-45{
    @media(min-width: 550px){
        width: 45%;
    }
}

.width-65{
    @media(min-width: 1090px){
        width: 65%;
    }
}