/* pages */
@import url("css/home.css");
@import url("css/about.css");
@import url("css/projects.css");
@import url("css/contact.css");

/* layout */
@import url("css/layout/navbar.css");
@import url("css/layout/leader.css");

body{
    margin: 0;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    height: 100%;
}
