.leader-container{
    background: linear-gradient(90deg, rgba(254,102,17,1) 0%, rgba(243,51,189,1) 100%);
}

.content-box-container{
    padding: 8em;
    @media(max-width: 845px){
        padding-left: 4em;
        padding-right: 4em;
    }
}

.leader{
    color: white;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.leader-title{
    font-size: 60px;
}

.leader-btn-container{
    padding-top: 2em;
    padding-bottom: 2em;
    
    .leader-btn{
        background: transparent;
        color: white;
        padding: 0.5em 1em;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 800;
        font-size: 1em;
        text-decoration: none;
        border: 0.25em solid white;

        &:hover{
            border-color: #f0f0f0;
        }
    }
}

.leader-quotes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    .quote{
        width: 45%;
        text-align: center;
    }

    p{
        text-align: center;
    }

    @media(max-width: 930px){
        flex-direction: column;  

        .quote{
            width: 80%;
        }

    }

}

.content-box{
    background-color: white;
    border-radius: 0.5em;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content-box-title{
        text-align: center;
        font-size: 3em;
    }

}

.content-box-content{
    background-image: linear-gradient(90deg, rgba(254,102,17,1) 0%, rgba(243,51,189,1) 100%);
    color: transparent;
    background-clip: text;
}