.featured-banner{
    background: linear-gradient(90deg, rgba(254, 102, 17, 1) 0%, rgba(243, 51, 189, 1) 100%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 0.5em;
}

.navbar-container{
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgba(0,0,0,.05);
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em; 
    padding-right: 2em;
    font-weight: 800;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;

    ul{
        list-style: none; 
        padding: 0;
        margin: 0;
        display: flex;

        .navbar-social-link{
            margin-left: 0.5em;
            margin-right: 0.5em;
            
        }

        
        .navbar-social-link:hover{
            fill: url(#hover-gradient);
        }

        .navbar-link{
            @media(max-width: 550px){
                display: none;
            }
            margin-left: 1em;
            margin-right: 1em;
            padding-top: 2.5em;
            padding-bottom: 2em;

            a{
                text-decoration: none;
                color: black;  

            }

            &.active{
                border-style: solid;
                border-image-slice: 1;
                border-width: 0.5em;
                border-left: 0;
                border-right: 0;
                border-top: 0;
                border-image-source: linear-gradient(90deg, rgba(254, 102, 17, 1) 0%, rgba(243, 51, 189, 1) 100%);
            }

        }

        .navbar-menu{
            display: none;
            margin-left: 1em;
            margin-right: 1em;
            padding-top: 2.5em;
            padding-bottom: 2.5em;

            @media(max-width: 550px){
                display: block;
            }

        }

        .navbar-menu:hover{
            fill: url(#hover-gradient);
        }

        .navbar-link:not(.navbar-menu):hover{
            border-style: solid;
            border-image-slice: 1;
            border-width: 0.5em;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-image-source: linear-gradient(90deg, rgba(254, 102, 17, 0.5) 0%, rgba(243, 51, 189, 0.5) 100%);
        }

    }

}